.image{
    margin: 50px 0;

}
.code p span{
    color: #02366d  
}
.code p{
    color: #571310
}

a{
    color: #1C5089;
    text-decoration:none
}
a:hover{
    text-decoration:underline
}

.flash{
    height:300px;
    width:100%;
    background-color:lightblue
}
.flash img{
    height:300px;
    width:100%;
}
.box{
    background-color:#1C5089;
    width:100%;
    padding: 5%;
    line-height:2
}
.box p{
    color: white
}
